@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <h3>Create your professional Resume.</h3>
    <p>Go to the information tab to create your resume.</p>
</div>
